@*@model IEnumerable<ShopCart.Models.DisplayOrderDetailsVM>*@
@{
    ViewBag.Title = "ConfirmationPage";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>ConfirmationPage</h2>
@*@foreach(var item in Model)
{
    foreach(var items in item.CDVM)
    {
                <h2>@items.ProductName</h2>
                <H2>@items.Quantity</H2>
    }
}*@
