


@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h4>Shipping Details</h4>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="idcname" type="text" class="validate">
                <label for="icon_prefix">Customer Name</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">home</i>
                <input id="idaddress" type="text" class="validate">
                <label for="icon_prefix">Address</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="idmobile" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
            </div>
        </div>

    </form>
</div>
<div class="row">
    <div class=" col m4"></div>
    <div class=" col m4"></div>
    <div class=" col m2">
        <a href="#" class="waves-effect waves-light btn " id="btnsubmit">CHECK OUT </a>

    </div>
</div>

<script>
   
    

    //customerDetails(data);

    $("#btnsubmit").click(function () {
        data = JSON.stringify({
            CustomerName: $("#idcname").val(),
            Address: $("#idaddress").val(),
            Mobile: $("#idmobile").val()
        });
        console.log("data", data);
         $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: "POST",
            url: "/Home/Shipping",
            data: data,
            success: function (result) {
                window.location.href = result.Url;
                alert(result.msg);

            },
            error: function () {
                alert("Error!")
            }
        });
    })
</script>